@import "tailwindcss";

@theme {
  --color-bg: #040404;
  --color-bg2: #080808;
  --color-bg3: #0d0d0d;
  --color-s1: #101010;
  --color-s2: #161616;
  --color-s3: #1e1e1e;
  --color-green-main: #3ddc84;
  --color-green2: #2bbd6e;
  --color-green3: #1a5c38;
  --color-gdim: rgba(61, 220, 132, 0.07);
  --color-amber-main: #f5a623;
  --color-adim: rgba(245, 166, 35, 0.08);
  --color-red-main: #f06565;
  --color-rdim: rgba(240, 101, 101, 0.08);
  --color-blue-main: #6eb5ff;
  --color-bdim: rgba(110, 181, 255, 0.08);
  --color-purple-main: #a78bfa;
  --color-pdim: rgba(167, 139, 250, 0.08);
  --color-cyan-main: #22d3ee;
  --color-cdim: rgba(34, 211, 238, 0.08);
  --color-text-main: #d0d0d0;
  --color-t2: #6a6a6a;
  --color-t3: #3a3a3a;
  --color-brd: #181818;
  --color-brd2: #242424;

  --font-sans: 'Inter', sans-serif;
  --font-display: 'Outfit', sans-serif;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-main);
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
